@import '../../styles/settings.scss';
.navbar {
  background-color: darken($color-dark, 3%);
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  font-size: $base-size * 2;
  color: $color-light
}
.navlist {
  list-style: none;
  display: inline-flex;
  font-weight: bold;
  font-size: $base-size * 1.3;
  
  a {
    color: $color-light;
    text-decoration: none;
    padding: $base-size 0 $base-size $base-size * 2;
  }

  .linkActive {
    color: $color-warning;
    transition: $transition;
  }
}